@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.App {
  font-family: sans-serif;
  text-align: center;
}

.gifs {
  margin-top: 24px;
}

.textFieldSearch {
  margin-right: 24px;
}

.card {
  margin: 12px;
  padding: 12px;
}

.button {
  color: #0277bd;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.grid > div {
  flex-basis: calc(30% - 40px);
}
